<!-- ./views/layouts/main.handlebars -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/css.css">

</head>

<body>
  <nav id="nav-list">
    <div class="index">
      <a href="/" class="btn index-btn">回到首頁</a>
    </div>
    <div class="index-icon">
      <a href="/about" class="btn about-btn">About</a>
      <a href="/porfolio" class="btn porfolio-btn">Porfolio</a>
      <a href="/contact" class="btn contact-btn">Contact</a>
    </div>
  </nav>

  {{{ body }}}
  <script src="/javascripts/js.js"></script>
</body>

</html>